/*Overwrite the broswer's default styles*/
*          { margin: 0; padding: 0;}
body, html { height:100%; }

/*Make the canvas fill the entire browser*/
#c         { border: 0px solid black; }
#c         { position:absolute; display:block; width:calc(100% - 2px); height:calc(100% - 2px); } /* https://stackoverflow.com/a/3707579/1066291 */

/*Set the style for dialog boxes*/
.dialog {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    text-align: justify;
}
.no-x .ui-dialog-titlebar-close {
  display: none;
}