/*Overwrite the broswer's default styles*/
*          { margin: 0; padding: 0;}
body, html { height:100%; }

/*Center the canvas on the screen; https://stackoverflow.com/a/7782251/1066291*/
#c {
    padding : 0;
    margin  : auto;
    display : block;
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
}

/*Set the style for dialog boxes*/
.dialog {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    text-align: justify;
}
.no-x .ui-dialog-titlebar-close {
  display: none;
}

/*Place box around canvas to find it easily when debugging*/
/*#c         { border: 1px solid black; }*/